  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.line{
  height: 2px;
  width:100px; 
  color:black; 
  background-color:black;
}

.team {
  background-image: url("../images/team.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}